@using KSTrans.Shared.Models
@model List<SocialMediaAccounts>

<!-- Footer Start -->
<div class="container-fluid bg-dark footer mt-5 py-5 wow fadeIn" data-wow-delay="0.1s">
    <div class="container py-5">
        <div class="row g-5">
            <div class="col-lg-3 col-md-6">
                <h5 class="text-white mb-4">Our Office</h5>
                <div id="about-container"></div>
                <div class="d-flex pt-3" id="social-media-container"></div>
            </div>
            <div class="col-lg-3 col-md-6">
                <h5 class="text-white mb-4">Quick Links</h5>
                <a class="btn btn-link" href="/About">About Us</a>
                <a class="btn btn-link" href="/Contact">Contact Us</a>
                <a class="btn btn-link" href="/Services">Our Services</a>
                <a class="btn btn-link" href="/Contact">Support</a>
            </div>
            <div class="col-lg-3 col-md-6" id="workHours-container"> </div>
            <div class="col-lg-3 col-md-6 align-self-start wow fadeInUp " data-wow-delay="0.1s">
                <img class="img-fluid" src="~/img/logo/logo3.jpg">
            </div>
        </div>
    </div>
</div>
<!-- Footer End -->
<!-- Copyright Start -->
<div class="container-fluid copyright bg-dark py-4">
    <div class="container text-center">
        <p class="mb-2">@DateTime.Now.Year - Copyright &copy; <a class="fw-semi-bold" href="/">KS Trans</a>, All Right Reserved.</p>
        <p class="mb-0">
            Programmed By <a class="fw-semi-bold" href="https://alierenkayhan.com/">Ali Eren Kayhan</a> ||
            Designed By <a class="fw-semi-bold" href="https://htmlcodex.com">HTML Codex</a>
        </p>
    </div>
</div>
<!-- Copyright End -->
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script>
    $(document).ready(function () {
        var socialMediaApi = "@ViewBag.SocialMediaApi";
        var aboutApi = "@ViewBag.AboutApi";
 
        // Sosyal medya hesaplarını çek
        $.ajax({
            url: socialMediaApi,
            type: "GET",
            success: function (data) {
                if (data && data.length > 0) {
                    var container = $("#social-media-container");
                    container.empty();  
                    data.forEach(function (link) {
                        var button = '<a class="btn btn-square btn-primary rounded-circle me-2" href="' + link.link + '" target="_blank">' +
                            '<i class="' + link.iconClass + '"></i>' +
                            '</a>';
                        container.append(button);
                    });
                }
            },
            error: function (error) {
                console.error("Error fetching social media accounts", error);
            }
        });

        // Hakkımızda ve çalışma saatleri bilgisini çek
        $.ajax({
            url: aboutApi,
            type: "GET",
            success: function (data) {
                if (data && data.length > 0) {
                    var aboutContainer = $("#about-container");
                    aboutContainer.empty(); 
                    data.forEach(function (about) {
                        var aboutItem =
                            '<p class="mb-2"><i class="fa fa-map-marker-alt me-3"></i>' + about.address + '</p>' +
                            '<p class="mb-2"><i class="fa fa-phone-alt me-3"></i>' + about.phone + '</p>' +
                            '<p class="mb-2"><i class="fa fa-envelope me-3"></i>' + about.email + '</p>';
                        aboutContainer.append(aboutItem);
                    });

                    var workHoursContainer = $("#workHours-container");
                    workHoursContainer.empty(); 
                    var workHoursArray = data[0].workHours.split("\n");
                    var workhoursItem =
                        '<h5 class="text-white mb-4">Business Hours</h5>' +
                        '<p class="mb-1">Monday - Friday</p><h6 class="text-light">' + workHoursArray[0] + '</h6>' +
                        '<p class="mb-1">Saturday</p><h6 class="text-light">' + workHoursArray[1] + '</h6>' +
                        '<p class="mb-1">Sunday</p><h6 class="text-light">' + workHoursArray[2] + '</h6>';

                    workHoursContainer.append(workhoursItem);
                }
            },
            error: function (error) {
                console.error("Error fetching about info", error);
            }
        });
    });
</script>

