<!-- About Start -->
<div class="container-xxl py-5">
    <div class="container">
        <div class="row g-5">
            <div class="col-lg-6">
                <div class="row gx-3 h-100">
                    <div class="col-6 align-self-start wow fadeInUp" data-wow-delay="0.1s">
                        <img class="img-fluid" src="img/about-1.jpg">
                    </div>
                    <div class="col-6 align-self-end wow fadeInDown" data-wow-delay="0.1s">
                        <img class="img-fluid" src="img/about-2.jpg">
                    </div>
                </div>
            </div>
            <div class="col-lg-6 wow fadeIn" data-wow-delay="0.5s">
                <p class="fw-medium text-uppercase text-primary mb-2">About Us</p>
                <h1 class="display-5 mb-4" id="about_title"></h1>
                <p class="mb-4" id="about_description"></p>
                <div class="d-flex align-items-center mb-4">
                    <div class="flex-shrink-0 bg-primary p-4">
                        <h1 class="display-2" id="about_yearsOfExperience"></h1>
                        <h5 class="text-white">Years of</h5>
                        <h5 class="text-white">Experience</h5>
                    </div>
                    <div class="ms-4" id="about-feautre-container"></div>
                </div>
                <div class="row pt-2">
                    <div class="col-sm-6">
                        <div class="d-flex align-items-center">
                            <div class="flex-shrink-0 btn-lg-square rounded-circle bg-primary">
                                <i class="fa fa-envelope-open text-white"></i>
                            </div>
                            <div class="ms-3">
                                <p class="mb-2">Email us</p>
                                <h5 class="mb-0" id="about_email"></h5>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-6">
                        <div class="d-flex align-items-center">
                            <div class="flex-shrink-0 btn-lg-square rounded-circle bg-primary">
                                <i class="fa fa-phone-alt text-white"></i>
                            </div>
                            <div class="ms-3">
                                <p class="mb-2">Call us</p>
                                <h5 class="mb-0" id="about_phone"></h5>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- About End -->

<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script>
    $(document).ready(function () {

        var aboutApi = "@ViewBag.AboutApi";

        // Hakkımızda ve çalışma saatleri bilgisini çek
        $.ajax({
            url: aboutApi,
            type: "GET",
            success: function (data) {
                if (data && data.length > 0) {
                    var about = data[0];
                    $("#about_title").text(about.title); 
                    
                    var descriptionArray = about.description.split('\n');
                    $("#about_description").empty();  
                    descriptionArray.forEach(function (line) {
                        if (line.trim()) {  
                            $("#about_description").append('<p>' + line.trim() + '</p>');
                        }
                    });

                    $("#about_yearsOfExperience").text(about.yearsOfExperience);
                    $("#about_email").text(about.email);
                    $("#about_phone").text(about.phone);

                    var aboutFeatureContainer = $("#about-feautre-container");
                    aboutFeatureContainer.empty();
                    var featuresArray = about.features.split('\n');
                    featuresArray.forEach(function (feature) {
                        if (feature.trim()) {  // Boş satırları kontrol et
                            var aboutItem =
                                '<p><i class="fa fa-check text-primary me-2"></i>' + feature.trim() + '</p>';
                            aboutFeatureContainer.append(aboutItem);
                        }
                    });
                }
            },
            error: function (error) {
                console.error("Error fetching about info", error);
            }
        });
    });
</script>

