<!-- Facts Start -->
<div class="container-fluid facts my-5 p-5">
    <div class="row g-5">
        <div class="col-md-6 col-xl-3 wow fadeIn" data-wow-delay="0.1s">
            <div class="text-center border p-5">
                <i class="fa fa-certificate fa-3x text-white mb-3"></i>
                <h1 class="display-2 text-primary mb-0" data-toggle="counter-up" id="facts_yearsOfExperience"></h1>
                <span class="fs-5 fw-semi-bold text-white">Years Experience</span>
            </div>
        </div>
        <div class="col-md-6 col-xl-3 wow fadeIn" data-wow-delay="0.3s">
            <div class="text-center border p-5">
                <i class="fa fa-users-cog fa-3x text-white mb-3"></i>
                <h1 class="display-2 text-primary mb-0" data-toggle="counter-up" id="facts_teamMembers"></h1>
                <span class="fs-5 fw-semi-bold text-white">Team Members</span>
            </div>
        </div>
        <div class="col-md-6 col-xl-3 wow fadeIn" data-wow-delay="0.5s">
            <div class="text-center border p-5">
                <i class="fa fa-users fa-3x text-white mb-3"></i>
                <h1 class="display-2 text-primary mb-0" data-toggle="counter-up" id="facts_happyClients"></h1>
                <span class="fs-5 fw-semi-bold text-white">Happy Clients</span>
            </div>
        </div>
        <div class="col-md-6 col-xl-3 wow fadeIn" data-wow-delay="0.7s">
            <div class="text-center border p-5">
                <i class="fa fa-check-double fa-3x text-white mb-3"></i>
                <h1 class="display-2 text-primary mb-0" data-toggle="counter-up" id="facts_projectDone"></h1>
                <span class="fs-5 fw-semi-bold text-white">Projects Done</span>
            </div>
        </div>
    </div>
</div>
<!-- Facts End -->
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script src="https://cdn.rawgit.com/bkinz/counter-up/master/jquery.counterup.min.js"></script>

<script>
    $(document).ready(function () {

        var aboutApi = "@ViewBag.AboutApi";

        // Hakkımızda ve çalışma saatleri bilgisini çek
        $.ajax({
            url: aboutApi,
            type: "GET",
            success: function (data) {
                if (data && data.length > 0) {
                    var facts = data[0]; 

                    // Verileri HTML elemanlarına atama
                    $("#facts_yearsOfExperience").text(facts.yearsOfExperience);
                    $("#facts_teamMembers").text(facts.teamMembers);
                    $("#facts_happyClients").text(facts.happyClients);
                    $("#facts_projectDone").text(facts.projectDone);
                }
            },
            error: function (error) {
                console.error("Error fetching about info", error);
            }
        });
    });
</script>
